*{
  box-sizing: border-box;
}
body {
  margin:0;
  background-color: #0B2434;
  padding:20px;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root{
height: 100%;  
width: 100%;
max-height: 400px;
max-width:400px;  
}

main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100%;
  border-radius: 5px;
 

}
.dice-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 3 equal columns */
  gap:10px;
}  

.dice-container button{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size:1.75rem;
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
}

/* main {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .pad-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
} */

/* button {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;   
  opacity: 0.1;
} */

/* button.on {
  opacity: 1;
}

button.all-off {
  all: unset;
  color: white;
  background-color: #B91C1C;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
} */