*{
  box-sizing: border-box;
}


body {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  background-color: #262626;
  color: #D9D9D9;
  margin: 0;
}

header{
  text-align: center;
}

header > h1{
  font-size: 1.25rem;
  font-weight:500;
  color: #F9F4DA;
}
header > p {
  font-size:0.875rem;
  max-width: 350px;
  color: #8E8E8E;

}
section.game-status{
  background-color: #10A95B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F9F4DA;
  border-radius: 4px;
  margin-block: 30px;
}

section.game-status > h2{
font-size:1.25rem;
margin: 5px;
}
section.game-status > p{
  margin: 5px;
}

section.language-chips{
  display: flex;
  flex-wrap:nowrap;  
  gap:5px;
  justify-content: center;
  max-width: 350px;
  margin-bottom: 36px;
}
span.chip{
  border-radius: 3px;
  padding:4.5px;
  position: relative;

}

section.word{
  display: flex;
  justify-content: center;
  gap:2px;
  margin-bottom: 20px;
}
section.word >span{
  height: 40px;
  width:40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.125rem;
  border-bottom: 1px solid #f9f4da;
}
section.keyboard{
  display: flex;
 flex-wrap: wrap;
 gap:8px;
 justify-content: center;
}
section.keyboard > button{
  height: 35px;
  width: 35px;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #D7D7D7;
  margin-bottom: 20px;
}

section.keyboard > button.correct {
  background-color: #10A95B;
}

section.keyboard > button.wrong {
  background-color: #EC5D49;
}

button.new-game{
  padding: 6px 12px;
  display: block;
  margin-inline:auto;
  cursor: pointer;
  width:225px;
  height: 40px;
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
}
span.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/*


                                                Tenzies Start Game

body {
  margin:0;
  background-color: #0B2434;
  padding:20px;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root{
height: 100%;  
width: 100%;
max-height: 400px;
max-width:400px;  
}

main{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  height: 100%;
  border-radius: 5px;
 

}
.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap:10px;
  margin-bottom: 40px;
}  

.dice-container button{
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size:1.75rem;
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
}
button.roll-dice{
  height: 50px;
  white-space: nowrap;
  width:auto;
  padding:6px 21px;
  border:none;
  border-radius:6px;
  background-color: #5035FF;
  color:white;
  font-size:1.2rem;

}
*/


/*                              Tenzie End Gane     */


/* main {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .pad-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
} */

/* button {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;   
  opacity: 0.1;
} */

/* button.on {
  opacity: 1;
}

button.all-off {
  all: unset;
  color: white;
  background-color: #B91C1C;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
} */